/* 프리텐다드 폰트 임포트 */
@import '@fontsource/pretendard/400.css';
@import '@fontsource/pretendard/700.css';

:root {
  font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #f4f6f8; /* MUI와 어울리는 연한 회색 배경 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
